<ion-header>
  <ion-toolbar>
    <ion-title>
      Stations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-20">
        
          <ion-list-header>
            <ion-label>Station</ion-label>
            <ion-label>State</ion-label>
            <ion-label>Description</ion-label>
            <ion-label>View</ion-label>
          </ion-list-header>
          
          <ion-list *ngFor="let station of serviceService.station">
            <ion-item>
              <ion-label>{{station.name}}</ion-label>
              <ion-label>{{station.state}}</ion-label>
              <ion-label>{{station.description}}</ion-label>
              <ion-label>
                <ion-button class="list-buttons" color="primary" (click)="viewStation(station)" >
                  <ion-label style="padding-left:7px">pageview</ion-label>
                  <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
                </ion-button>
              </ion-label>
            </ion-item>
          </ion-list>
          
      </div>
    </div>
  </div>
</ion-content>
